body {
    background-color: #212121;
}

.row .col {
    padding: 0 1.2rem;
}

nav {
    height: 60px;
    /*padding: 15px 87px;*/
    padding-right: 400px;
}

nav ul, nav ul li, nav ul li a {
    height: 100%;
}

nav ul a {
    font-size: 1.3rem;
    color: #1de9b6; 
    position: relative;
}

nav ul a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav ul a:hover:after { 
  width: 100%; 
  left: 0; 
}

nav .brand-logo {
    padding: inherit;
}

h1, h2 {
    font-family:'Montserrat', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h3 {
margin-top: 0;
}

blockquote, p, li {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

#skills div ul {
    display: inline-block;
    width: 156px;
}

#skills div ul li{
    text-align: left;
}

/* Utilities */

.img-scale {
    display: inline-block;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.img-scale:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.pr-400 {
    padding-right: 400px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.skills-title {
    font-style: italic;
}

.bl-5p {
    border-left: 5px solid #651fff;
    padding-left: 2.5rem !important;
}

.bl-5p-blue {
    border-left: 5px solid #00b0ff;
}

.mb-35p {
    margin-bottom: 35px;
}

.mb-60p {
    margin-bottom: 60px;
}

.bold-txt {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

/* End utilities */